{
  "swagger": "2.0",
  "info": {
    "description": "我是描述信息",
    "version": "版本号：V.1",
    "title": "接口文档",
    "license": {
      "name": "The Apache License",
      "url": "http://www.giggleacademy.com"
    }
  },
  "host": "creator.qakjukl.net",
  "basePath": "/",
  "tags": [
    {
      "name": "APP版本管理",
      "description": "App Version Controller"
    },
    {
      "name": "admin-controller",
      "description": "管理后台相关接口"
    },
    {
      "name": "admin-course-localize-controller",
      "description": "课程策略配置管理"
    },
    {
      "name": "admin-course-tag-album-controller",
      "description": "管理后台-课程标签和专辑管理接口"
    },
    {
      "name": "admin-internal-ai-tutor-controller",
      "description": "AI Tutor相关接口,提供给Giggle Ai Server调用获取数据"
    },
    {
      "name": "ai-controller",
      "description": "AI语音/chat/文生图相关接口"
    },
    {
      "name": "ai-server-proxy-controller",
      "description": "AI服务器代理"
    },
    {
      "name": "ai-story-controller",
      "description": "AI生成故事相关接口"
    },
    {
      "name": "app-feature-controller",
      "description": "App Feature Controller"
    },
    {
      "name": "app-push-controller",
      "description": "app推送相关的接口"
    },
    {
      "name": "auth-verify-controller",
      "description": "Auth Verify Controller"
    },
    {
      "name": "book-controller",
      "description": "Story book相关接口"
    },
    {
      "name": "campaign-api-controller",
      "description": "活动&banner API接口"
    },
    {
      "name": "campaign-controller",
      "description": "营销活动&banner 管理接口"
    },
    {
      "name": "common-controller",
      "description": "管理后台公共接口"
    },
    {
      "name": "course-skill-controller",
      "description": "Course Skill Controller"
    },
    {
      "name": "course-tag-album-api-controller",
      "description": "课程标签和专辑API接口"
    },
    {
      "name": "donate-order-controller",
      "description": "捐赠订单管理接口"
    },
    {
      "name": "email-controller",
      "description": "邮件相关的接口"
    },
    {
      "name": "event-controller",
      "description": "Event消息记录接口"
    },
    {
      "name": "flash-card-controller",
      "description": "闪卡学习相关接口"
    },
    {
      "name": "gacha-activity-controller",
      "description": "扭蛋活动相关接口"
    },
    {
      "name": "game-controller",
      "description": "游戏课程相关接口"
    },
    {
      "name": "home-landing-controller",
      "description": "landing 页面相关接口"
    },
    {
      "name": "image-redirect-controller",
      "description": "处理图片后缀"
    },
    {
      "name": "internal-controller",
      "description": "内部系统调用接口"
    },
    {
      "name": "material-controller",
      "description": "资源相关接口"
    },
    {
      "name": "parent-center-controller",
      "description": "家长中心统计接口"
    },
    {
      "name": "poster-controller",
      "description": "海报相关接口"
    },
    {
      "name": "quiz-controller",
      "description": "Quiz相关接口"
    },
    {
      "name": "recommend-controller",
      "description": "课程推荐&故事书推荐"
    },
    {
      "name": "reward-controller",
      "description": "奖励中心"
    },
    {
      "name": "school-controller",
      "description": "学校系统相关接口"
    },
    {
      "name": "study-plan-controller",
      "description": "学习计划相关接口"
    },
    {
      "name": "system-controller",
      "description": "获取系统信息"
    },
    {
      "name": "tag-controller",
      "description": "Story book书籍标签分类相关接口"
    },
    {
      "name": "user-controller",
      "description": "User Controller"
    },
    {
      "name": "verify-controller",
      "description": "Story book审核接口"
    },
    {
      "name": "violation-report-controller",
      "description": "违规举报"
    },
    {
      "name": "webhook-controller",
      "description": "Webhook Controller"
    }
  ],
  "paths": {
    "/admin/activity/create": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "创建活动",
        "operationId": "createActivityUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActivityReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动列表",
        "operationId": "getActivityListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "all",
            "in": "query",
            "description": "all",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "keyword",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页数量",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 10
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "NOT_STARTED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/status": {
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "更新活动状态",
        "operationId": "updateActivityStatusUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateActivityStatusReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/tag/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取标签列表",
        "operationId": "getTagListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/task": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "创建活动任务定义",
        "operationId": "createTaskDefinitionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActivityTaskDefinitionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/task/general/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取通用活动任务定义列表",
        "operationId": "getGeneralTaskDefinitionListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/task/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动任务定义列表",
        "operationId": "getTaskDefinitionListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/task/{id}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动任务定义详情",
        "operationId": "getTaskDefinitionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "更新活动任务定义",
        "operationId": "updateTaskDefinitionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateActivityTaskDefinitionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "admin-controller"
        ],
        "summary": "删除活动任务定义",
        "operationId": "deleteTaskDefinitionUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/{activityId}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动详情",
        "operationId": "getActivityByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "activityId",
            "in": "path",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "更新活动",
        "operationId": "updateActivityUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "activityId",
            "in": "path",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateActivityReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/activity/{activityId}/task": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取指定活动的任务定义列表",
        "operationId": "getTaskDefinitionListByActivityIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "activityId",
            "in": "path",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/aitutor/books/search": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "searchPublicBooks",
        "operationId": "searchPublicBooksUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从0开始",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/aitutor/courses": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "获取所有课程列表",
        "operationId": "getAllCoursesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/aitutor/materials/upload": {
      "post": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "上传文件并创建资源",
        "operationId": "uploadMaterialUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          },
          {
            "name": "materialTypeName",
            "in": "query",
            "description": "materialTypeName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/aitutor/quiz/query": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "根据 refData 查询测验，优先精确匹配，无匹配结果时进行模糊匹配",
        "operationId": "queryQuizByRefDataUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "refData",
            "in": "query",
            "description": "refData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/aitutor/user/learned-courses": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "获取用户已学习过的课程",
        "operationId": "getUserLearnedCoursesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "kidId",
            "in": "query",
            "description": "kidId",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/aitutor/verifyToken": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "verify auth token",
        "operationId": "verifyTokenUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/antonyms/batch-query": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "根据反义词的id，批量查询反义词",
        "operationId": "batchQueryAntonymsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "in": "body",
            "name": "antonymIds",
            "description": "antonymIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/app-features": {
      "get": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "listFeatures",
        "operationId": "listFeaturesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "createFeature",
        "operationId": "createFeatureUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppFeatureCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/app-features/rules": {
      "post": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "createRule",
        "operationId": "createRuleUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppFeatureRuleCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/app-features/rules/batch-delete": {
      "delete": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "deleteRules",
        "operationId": "deleteRulesUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/app-features/rules/{id}": {
      "get": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "getRuleById",
        "operationId": "getRuleByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "updateRule",
        "operationId": "updateRuleUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppFeatureRuleUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "deleteRule",
        "operationId": "deleteRuleUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/app-features/{featureKey}/rules": {
      "get": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "listRulesByFeatureKey",
        "operationId": "listRulesByFeatureKeyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "featureKey",
            "in": "path",
            "description": "featureKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/admin/app-features/{id}": {
      "get": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "getFeatureById",
        "operationId": "getFeatureByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "d0c683ea598c960445053ddd3117b441"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1764664508687"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "app-feature-controller"
        ],
        "summary": "updateFeature",
        "operationId": "updateFeatureUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
[...]
