{
  "swagger": "2.0",
  "info": {
    "description": "我是描述信息",
    "version": "版本号：V.1",
    "title": "接口文档",
    "license": {
      "name": "The Apache License",
      "url": "http://www.giggleacademy.com"
    }
  },
  "host": "creator.qakjukl.net",
  "basePath": "/",
  "tags": [
    {
      "name": "APP版本管理",
      "description": "App Version Controller"
    },
    {
      "name": "admin-controller",
      "description": "管理后台相关接口"
    },
    {
      "name": "admin-internal-ai-tutor-controller",
      "description": "AI Tutor相关接口,提供给Giggle Ai Server调用获取数据"
    },
    {
      "name": "ai-controller",
      "description": "AI语音/chat/文生图相关接口"
    },
    {
      "name": "ai-server-proxy-controller",
      "description": "AI服务器代理"
    },
    {
      "name": "ai-story-controller",
      "description": "AI生成故事相关接口"
    },
    {
      "name": "app-push-controller",
      "description": "app推送相关的接口"
    },
    {
      "name": "auth-verify-controller",
      "description": "Auth Verify Controller"
    },
    {
      "name": "book-controller",
      "description": "Story book相关接口"
    },
    {
      "name": "campaign-api-controller",
      "description": "活动&banner API接口"
    },
    {
      "name": "campaign-controller",
      "description": "营销活动&banner 管理接口"
    },
    {
      "name": "common-controller",
      "description": "管理后台公共接口"
    },
    {
      "name": "donate-order-controller",
      "description": "捐赠订单管理接口"
    },
    {
      "name": "email-controller",
      "description": "邮件相关的接口"
    },
    {
      "name": "event-controller",
      "description": "Event消息记录接口"
    },
    {
      "name": "flash-card-controller",
      "description": "闪卡学习相关接口"
    },
    {
      "name": "gacha-activity-controller",
      "description": "扭蛋活动相关接口"
    },
    {
      "name": "game-controller",
      "description": "游戏课程相关接口"
    },
    {
      "name": "home-landing-controller",
      "description": "landing 页面相关接口"
    },
    {
      "name": "image-redirect-controller",
      "description": "处理图片后缀"
    },
    {
      "name": "internal-controller",
      "description": "内部系统调用接口"
    },
    {
      "name": "material-controller",
      "description": "资源相关接口"
    },
    {
      "name": "parent-center-controller",
      "description": "家长中心统计接口"
    },
    {
      "name": "poster-controller",
      "description": "海报相关接口"
    },
    {
      "name": "recommend-controller",
      "description": "课程推荐&故事书推荐"
    },
    {
      "name": "reward-controller",
      "description": "奖励中心"
    },
    {
      "name": "school-controller",
      "description": "学校系统相关接口"
    },
    {
      "name": "system-controller",
      "description": "获取系统信息"
    },
    {
      "name": "tag-controller",
      "description": "Story book书籍标签分类相关接口"
    },
    {
      "name": "user-controller",
      "description": "User Controller"
    },
    {
      "name": "verify-controller",
      "description": "Story book审核接口"
    },
    {
      "name": "webhook-controller",
      "description": "Webhook Controller"
    }
  ],
  "paths": {
    "/admin/activity/create": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "创建活动",
        "operationId": "createActivityUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActivityReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/activity/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动列表",
        "operationId": "getActivityListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "all",
            "in": "query",
            "description": "all",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "keyword",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页数量",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 10
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "NOT_STARTED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/activity/status": {
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "更新活动状态",
        "operationId": "updateActivityStatusUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateActivityStatusReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/activity/task": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "创建活动任务定义",
        "operationId": "createTaskDefinitionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActivityTaskDefinitionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/activity/task/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动任务定义列表",
        "operationId": "getTaskDefinitionListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/activity/task/{id}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动任务定义详情",
        "operationId": "getTaskDefinitionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "更新活动任务定义",
        "operationId": "updateTaskDefinitionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateActivityTaskDefinitionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "admin-controller"
        ],
        "summary": "删除活动任务定义",
        "operationId": "deleteTaskDefinitionUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/activity/{activityId}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取活动详情",
        "operationId": "getActivityByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "activityId",
            "in": "path",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "更新活动",
        "operationId": "updateActivityUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "activityId",
            "in": "path",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateActivityReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/activity/{activityId}/task": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取指定活动的任务定义列表",
        "operationId": "getTaskDefinitionListByActivityIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "activityId",
            "in": "path",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/books/search": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "searchPublicBooks",
        "operationId": "searchPublicBooksUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从0开始",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/courses": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "获取所有课程列表",
        "operationId": "getAllCoursesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/materials/upload": {
      "post": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "上传文件并创建资源",
        "operationId": "uploadMaterialUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          },
          {
            "name": "materialTypeName",
            "in": "query",
            "description": "materialTypeName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/quiz/query": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "根据 refData 查询测验，优先精确匹配，无匹配结果时进行模糊匹配",
        "operationId": "queryQuizByRefDataUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "refData",
            "in": "query",
            "description": "refData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/user/learned-courses": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "获取用户已学习过的课程",
        "operationId": "getUserLearnedCoursesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "kidId",
            "in": "query",
            "description": "kidId",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/verifyToken": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "verify auth token",
        "operationId": "verifyTokenUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/antonyms/batch-query": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "根据反义词的id，批量查询反义词",
        "operationId": "batchQueryAntonymsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "antonymIds",
            "description": "antonymIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/message/push": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "推送APP消息",
        "operationId": "appMessagePushUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppMessagePushReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/push/add": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "添加新的APP推送",
        "operationId": "addNewAppPushUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "content",
            "in": "query",
            "description": "推送内容",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "开始你的学习之旅吧！"
          },
          {
            "name": "customUserEmails",
            "in": "query",
            "description": "自定义用户邮箱列表，用逗号分割（targetType为8时必填）",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "user1@example.com,user2@example.com"
          },
          {
            "name": "imageFile",
            "in": "formData",
            "description": "推送图片文件",
            "required": false,
            "type": "file"
          },
          {
            "name": "jumpLink",
            "in": "query",
            "description": "跳转链接",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pushType",
            "in": "query",
            "description": "推送类型：1-立即推送，2-定时推送",
            "required": true,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1
          },
          {
            "name": "remark",
            "in": "query",
            "description": "备注",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "新用户欢迎推送，定时推送"
          },
          {
            "name": "scheduleTime",
            "in": "query",
            "description": "定时推送时间（定时推送必填，ISO格式）",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "2025-04-14T10:00:00"
          },
          {
            "name": "targetType",
            "in": "query",
            "description": "推送用户类型代码：1-全量用户 2-已注册用户 3-未注册用户 4-未激活用户 5-已激活用户 6-故事书阅读用户 7-故事书创作者 8-自定义用户",
            "required": true,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 2
          },
          {
            "name": "title",
            "in": "query",
            "description": "推送标题",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "欢迎使用 Giggle Academy！"
          },
          {
            "name": "userActivity",
            "in": "query",
            "description": "用户活跃度代码：1-全部用户 2-最近7天活跃 3-最近14天活跃 4-最近30天活跃",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/push/content/{pushId}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "根据推送ID查询APP推送内容",
        "operationId": "getAppPushContentUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "pushId",
            "in": "path",
            "description": "pushId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/push/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "查询APP推送列表",
        "operationId": "queryAppPushListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/upload-url": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "getAppUploadUrl",
        "operationId": "getAppUploadUrlUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "platform",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/cancelPublish": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "取消APP发布版本",
        "operationId": "cancelPublishAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "versionId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/create": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "创建新的APP版本",
        "operationId": "createAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "fileKey",
            "in": "query",
            "description": "fileKey",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAppVersionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/edit": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "编辑App更新日志和强制更新",
        "operationId": "editAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditAppVersionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取所有APP版本",
        "operationId": "getAllAppVersionsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "platform",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/publish": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "设置APP发布版本",
        "operationId": "publishAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SelectAppVersionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/banner": {
      "post": {
        "tags": [
          "campaign-controller"
        ],
        "summary": "创建Banner",
        "operationId": "createBannerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "11b93a7a372f8a0c1d5b0a88fef78527"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1758798633614"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BannerCreateReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
[...]
