{
  "swagger": "2.0",
  "info": {
    "description": "我是描述信息",
    "version": "版本号：V.1",
    "title": "接口文档",
    "license": {
      "name": "The Apache License",
      "url": "http://www.giggleacademy.com"
    }
  },
  "host": "creator.qakjukl.net",
  "basePath": "/",
  "tags": [
    {
      "name": "APP版本管理",
      "description": "App Version Controller"
    },
    {
      "name": "admin-controller",
      "description": "管理后台相关接口"
    },
    {
      "name": "admin-internal-ai-tutor-controller",
      "description": "AI Tutor相关接口,提供给Giggle Ai Server调用获取数据"
    },
    {
      "name": "ai-controller",
      "description": "AI语音/chat/文生图相关接口"
    },
    {
      "name": "ai-server-proxy-controller",
      "description": "AI服务器代理"
    },
    {
      "name": "ai-story-controller",
      "description": "AI生成故事相关接口"
    },
    {
      "name": "app-push-controller",
      "description": "app推送相关的接口"
    },
    {
      "name": "auth-verify-controller",
      "description": "Auth Verify Controller"
    },
    {
      "name": "book-controller",
      "description": "Story book相关接口"
    },
    {
      "name": "common-controller",
      "description": "管理后台公共接口"
    },
    {
      "name": "email-controller",
      "description": "邮件相关的接口"
    },
    {
      "name": "event-controller",
      "description": "Event消息记录接口"
    },
    {
      "name": "flash-card-controller",
      "description": "闪卡学习相关接口"
    },
    {
      "name": "game-controller",
      "description": "游戏课程相关接口"
    },
    {
      "name": "home-landing-controller",
      "description": "landing 页面相关接口"
    },
    {
      "name": "image-redirect-controller",
      "description": "处理图片后缀"
    },
    {
      "name": "internal-controller",
      "description": "内部系统调用接口"
    },
    {
      "name": "material-controller",
      "description": "资源相关接口"
    },
    {
      "name": "poster-controller",
      "description": "海报相关接口"
    },
    {
      "name": "reward-controller",
      "description": "奖励中心"
    },
    {
      "name": "tag-controller",
      "description": "Story book书籍标签分类相关接口"
    },
    {
      "name": "user-controller",
      "description": "User Controller"
    },
    {
      "name": "verify-controller",
      "description": "Story book审核接口"
    },
    {
      "name": "webhook-controller",
      "description": "Webhook Controller"
    },
    {
      "name": "推荐服务",
      "description": "Recommend Controller"
    }
  ],
  "paths": {
    "/admin/aitutor/books/search": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "searchPublicBooks",
        "operationId": "searchPublicBooksUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从0开始",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponse«object»"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/courses": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "获取所有课程列表",
        "operationId": "getAllCoursesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/materials/upload": {
      "post": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "上传文件并创建资源",
        "operationId": "uploadMaterialUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          },
          {
            "name": "materialTypeName",
            "in": "query",
            "description": "materialTypeName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/quiz/query": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "根据 refData 查询测验，优先精确匹配，无匹配结果时进行模糊匹配",
        "operationId": "queryQuizByRefDataUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "refData",
            "in": "query",
            "description": "refData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/user/learned-courses": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "获取用户已学习过的课程",
        "operationId": "getUserLearnedCoursesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "kidId",
            "in": "query",
            "description": "kidId",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/aitutor/verifyToken": {
      "get": {
        "tags": [
          "admin-internal-ai-tutor-controller"
        ],
        "summary": "verify auth token",
        "operationId": "verifyTokenUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/antonyms/batch-query": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "根据反义词的id，批量查询反义词",
        "operationId": "batchQueryAntonymsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "in": "body",
            "name": "antonymIds",
            "description": "antonymIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/message/push": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "推送APP消息",
        "operationId": "appMessagePushUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppMessagePushReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/push/add": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "添加新的APP推送",
        "operationId": "addNewAppPushUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "content",
            "in": "query",
            "description": "推送内容",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "开始你的学习之旅吧！"
          },
          {
            "name": "customUserEmails",
            "in": "query",
            "description": "自定义用户邮箱列表，用逗号分割（targetType为8时必填）",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "user1@example.com,user2@example.com"
          },
          {
            "name": "imageFile",
            "in": "formData",
            "description": "推送图片文件",
            "required": false,
            "type": "file"
          },
          {
            "name": "jumpLink",
            "in": "query",
            "description": "跳转链接",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pushType",
            "in": "query",
            "description": "推送类型：1-立即推送，2-定时推送",
            "required": true,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1
          },
          {
            "name": "remark",
            "in": "query",
            "description": "备注",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "新用户欢迎推送，定时推送"
          },
          {
            "name": "scheduleTime",
            "in": "query",
            "description": "定时推送时间（定时推送必填，ISO格式）",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "2025-04-14T10:00:00"
          },
          {
            "name": "targetType",
            "in": "query",
            "description": "推送用户类型代码：1-全量用户 2-已注册用户 3-未注册用户 4-未激活用户 5-已激活用户 6-故事书阅读用户 7-故事书创作者 8-自定义用户",
            "required": true,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 2
          },
          {
            "name": "title",
            "in": "query",
            "description": "推送标题",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "欢迎使用 Giggle Academy！"
          },
          {
            "name": "userActivity",
            "in": "query",
            "description": "用户活跃度代码：1-全部用户 2-最近7天活跃 3-最近14天活跃 4-最近30天活跃",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/push/content/{pushId}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "根据推送ID查询APP推送内容",
        "operationId": "getAppPushContentUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "pushId",
            "in": "path",
            "description": "pushId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/push/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "查询APP推送列表",
        "operationId": "queryAppPushListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/upload-url": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "getAppUploadUrl",
        "operationId": "getAppUploadUrlUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "platform",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/cancelPublish": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "取消APP发布版本",
        "operationId": "cancelPublishAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "versionId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/create": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "创建新的APP版本",
        "operationId": "createAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "fileKey",
            "in": "query",
            "description": "fileKey",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAppVersionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/edit": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "编辑App更新日志和强制更新",
        "operationId": "editAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditAppVersionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取所有APP版本",
        "operationId": "getAllAppVersionsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "platform",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/app/version/publish": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "设置APP发布版本",
        "operationId": "publishAppVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SelectAppVersionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/blockedEmailDomain/add": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "添加被阻止的邮箱域名",
        "operationId": "addBlockedEmailDomainUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "domain",
            "required": true,
            "type": "string"
          },
          {
            "name": "remark",
            "in": "query",
            "description": "remark",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/blockedEmailDomain/delete": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "删除被阻止的邮箱域名",
        "operationId": "deleteBlockedEmailDomainUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "domain",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/blockedEmailDomain/list": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "查询被阻止的邮箱域名列表",
        "operationId": "getBlockedEmailDomainsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "domain",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/cloudFrontUrl": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "根据参数重定向到对应的cloudFront地址",
        "operationId": "cloudFrontUrlUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "bucket",
            "in": "query",
            "description": "bucket",
            "required": true,
            "type": "string",
            "enum": [
              "STATIC",
              "TEMP",
              "CLEAN"
            ]
          },
          {
            "name": "key",
            "in": "query",
            "description": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/common/getFileByUrl": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "根据url获取对应文件",
        "operationId": "getFileByUrlUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/common/sendEmail": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "发送邮件",
        "operationId": "sendEmailUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminSendEmailReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/course/batch-upload-to-ai-server": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "批量上传所有课程文档数据到AI服务器",
        "operationId": "batchUploadAllCoursesToAiServerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/course/create": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "创建一个课程",
        "operationId": "createCourseUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "courseCover",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "courseType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "extraInfo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          },
          {
            "name": "maxAge",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "minAge",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "promotionCopy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "theme",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/course/createVersion": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "为课程上传一个版本",
        "operationId": "createCourseVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCourseVersionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/course/delete/{id}": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "删除一个课程",
        "operationId": "deleteCourseByIdUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/course/deleteCourseVersionById/{id}": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "删除课程版本",
        "operationId": "deleteCourseVersionByIdUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/admin/course/detail": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "获取课程详情包括版本信息",
        "operationId": "getCourseDetailUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AuthToken",
            "in": "header",
            "description": "AuthToken",
            "required": true,
            "type": "string",
            "default": "bbe6ed318b33470402d55e89ec8a490a"
          },
          {
            "name": "DeviceId",
            "in": "header",
            "description": "DeviceId",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "DeviceType",
            "in": "header",
            "description": "android/ios/web",
            "required": true,
            "type": "string",
            "default": "web"
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "default": "1754882068884"
          },
          {
            "name": "courseId",
            "in": "query",
            "description": "courseId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
[...]
